language: ruby
script:
  - RAILS_ENV=test bundle exec rake db:setup
  - bundle exec rspec
before_install:
  - sudo apt install -y libxml2-dev libmagickwand-dev
  - gem update --system
  - gem install bundler
dist: xenial
addons:
  code_climate:
    repo_token: 59839d806c4f412e3a7c754a292c59c7b51e3a3b075c401240c5d2ae56d6cd09
