.nested-fields
  = f.input :min, as: :date_time_picker, input_html: { value: f.object.min ? l(f.object.min, format: :short) : '' }
  = f.input :max, as: :date_time_picker, input_html: { value: f.object.max ? l(f.object.max, format: :short) : '' }
  = link_to_remove_association f, class: 'btn btn-warning' do
    = enhance_name_with_icon '', icon: :minus
