- content_for :title, t('.title')
%p Es wurde nochmals die Registrierungsbestätigung an Sie zugesendet. In dieser Mail finden Sie den Link zu Ihrem geschützten Bereich.
%p Falls Sie dies noch nicht getan haben, klicken Sie bitte auf diesen Link, um Ihre Registrierung zu bestätigen. Diese Aktion schaltet Ihre Mail zum Erhalt wichtiger Benachrichtigungen frei.
