- content_for :title, t('.title')

%p#notice= notice

= render 'shared/details', instance: @reserved_item,
  attributes: [:reservation, :item, :number, :code, :sold, :created_at, :updated_at]

= link_to t('edit'), edit_reserved_item_path(@reserved_item)
\|
= link_to t('back'), reserved_items_path
