- content_for :title, t('.title')
= simple_form_for @reservation, url: create_bulk_admin_event_reservations_path(@event) do |f|
  = f.error_notification
  .form-inputs
    = f.association :seller, label_method: :label_for_selects, collection: @sellers, input_html: { multiple: true }
  .form-actions
    = f.button :submit
