- content_for :title, t('.title')
%p Bitte wählen Sie die Artikel aus, für die Sie Etiketten drucken wollen.
= simple_form_for(:labels, url: labels_path) do |f|
  = f.error_notification
  .form-inputs
    = f.input :reserved_item, collection: @items, as: :check_boxes
  .form-actions
    = f.button :submit
