- content_for :title, 'Anmeldung fehlgeschlagen'

:markdown
  Die Anmeldung ist fehlgeschlagen. Dies kann folgende Gründe haben:

  - Sie haben den Link aus der eMail nicht vollständig in Ihren Browser kopiert.
    Bitte prüfen Sie die Vollständigkeit des Links
  - Ihre Registrierung wurde in der Zwischenzeit gelöscht.
    Dies geschah entweder durch Sie selbst oder automatisch, da die Registrierung schon zu lange zurückliegt.
    In diesem Fall müssen Sie sich neu registrieren.
  - Die von Ihnen angegebene Webadresse wird möglicherweise nicht mehr unterstützt.
    Bitte gehen Sie auf die [Hauptseite von Flohmarkthelfer](https://flohmarkthelfer.de/) und wählen Sie den Flohmarkt,
    bei dem Sie sich anmelden wollten und lassen Sie sich die Registrierungsbestätigung mit dem Link zu Ihrem
    geschützten Bereich noch einmal zuschicken.
