- content_for :title, 'Seite nicht gefunden'

:markdown
  Diese Seite gibt es nicht. Mögliche Gründe, dass Sie dies hier sehen sind:

  - Sie haben die Adresse im Browser nicht korrekt eingegeben. Bitte prüfen Sie die Korrektheit der Eingabe.
  - Sie haben versucht, auf etwas zuzugreifen, was für Sie nicht erreichbar ist.

  Sollten Sie diese Informationen sehen und keiner der Punkte zutreffen, bitte kontaktieren Sie uns.
