- content_for :title, 'Seite nicht gefunden'

:markdown
  Diese Seite gibt es nicht. Mögliche Gründe, dass Sie dies hier sehen, sind:

  - Sie haben die Adresse im Browser nicht korrekt eingegeben. Bitte prüfen Sie die Korrektheit der Eingabe.
  - Sie haben versucht, auf etwas zuzugreifen, was für Sie nicht erreichbar ist.

  Sollten Sie die Seite Ihres Flohmarkts nicht erreichen können,
  besuchen Sie unsere [Hauptseite](https://flohmarkthelfer.de).
  Dort gibt es eine Liste der verfügbaren Flohmärkte.

  Sollten Sie weiterhin Probleme haben, schauen Sie bitte auf unserer
  [Hilfe-Seite](https://flohmarkthelfer.de/pages/contact) nach.
  Dort finden Sie eine komplette Anleitung sowie Informationen, wie Sie uns erreichen können.
