- content_for :title, t('.title')

%p#notice= notice

= render 'shared/details', instance: @event,
  attributes: [:name, :details, :max_sellers, :max_items_per_seller, :confirmed]

= link_to t('edit'), edit_event_path(@event)
\|
= link_to t('back'), events_path
