- content_for :title, t('.title')

%p Sollten Sie Probleme, Fragen oder Anregungen haben, schreiben Sie bitte eine eMail an:
%p
  %strong= brand_settings.contact
%p Sollten Sie sich bereits registriert haben, benutzen Sie bitte die eMail-Adresse als Absender, die Sie bei der Registrierung angegeben haben.
:markdown

  ### Allgemeine Fragen und Antworten

  Wir haben Für Sie häufig gestellte Fragen aufgelistet. Falls dies Ihnen nicht weiterhilft, senden Sie uns bitte eine EMail. Wir versuchen wie immer schnellstmöglich zu antworten.

  **1. Ich möchte einen Platz, wie gehe ich vor?**

  Sie registrieren sich zunächst auf unserer Website über den Button "Zur Registrierung". Damit sind Sie auf unserer Website registriert, haben aber noch KEINEN Platz!
  Sobald Sie die Registrierung abgeschlossen haben, wird eine Email an ihre eingetragene Email- Adresse geschickt. Folgen Sie bitte den weiteren Anweisungen in der Mail und klicken Sie den darin erhaltenen Link. 
  Dieser Link führt Sie zu Ihrem persönlichen Bereich. Sofern sich aktuell ein Flohmarkt in der Reservierungsphase befindet können Sie nun einen Platz reservieren.

  **2. Ich habe keine Email bekommen**

  In der Regel werden unsere Emails innerhalb weniger Sekunden verschickt. Sollte nach 10 Minuten immernoch keine Mail da sein, prüfen Sie bitte zunächst Ihrem SPAM Ordner und ob ihr Postfach noch Platz für weitere Emails hat.
  Sollte die Email dennoch nicht auffindbar sein versuchen Sie bitte den Link "Meine Zuganginformationen anfordern" auf der Startseite und geben dort nochmals Ihre Emailadresse ein.Sofern die Email korrekt ist wird Ihnen die Email nochmals zugesendet. Falls die Emailadresse jedoch nicht im System vorhanden ist bekommen Sie hier eine entsprechende Fehlermeldung. Möglicherweise haben Sie sich in der Registrierung verschrieben.
  Wird beim 2. Versuch immernoch keine Email versendet, wenden Sie sich bitte per Mail an uns.

  **3. Was ist mein "persönlicher Bereich"?**

  Wir arbeiten nicht mit einem Login. Jeder Nutzer bekommt Zugang über einen Link. Dieser Link wird Ihnen nach der Registrierung zugeschickt und kann jederzeit wieder über die Startseite "Meine Zuganginformationen anfordern" nochmals zugesendet werden.
  In Ihrem persönlichen Bereich haben sie eine Übersicht über alle geplanten Flohmärkte und können sich für diese "reservieren". (Siehe Punkt 6)
  Hier können Sie auch Ihre persönlichen Daten anpassen und sich von unserer Seite abmelden. (Siehe Punkt 8)

  **4. Sehe ich ob noch Plätze frei sind?**
  Unsere aktuellen Flohmärkte werden auf der Startseite gelistet. Sie finden in den Termindetails unten "Freie Pätze". Ist der Wert größer 0 sind noch Plätze vorhanden.

  **5. Alle Plätze sind vergeben, kann ich dennoch noch einen Platz bekommen.**

  Wir haben leider nur begrenzt Platz für Ihre Ware und haben daher unsere Anzahl von Verkäufern begrenzt. Sie können Sich aber auf die Warteliste setzen lassen. Sobald ein Platz frei wird, bekommen Sie eine Email mit den entsprechenden Infos. Hier gilt wer zuerst den Link in der Mail klickt bekommt den Platz.
  Es gibt aber auch eine Alternative. Häufig suchen wir noch fleißige Helfer. Daher vergeben wir auch nach der Reservierungsphase noch PLätze an unsere fleißigen Helfer. Bitte melden Sie sich per Mail bei uns.

  **6. Wie funktioniert die Reservierung für einen Platz?**

  Sie müssen sich zuerst bei uns registrieren. (Siehe Punkt 1)
  a) Befindet sich ein Markt aktuell in der Reservierungsphase können Sie sich nun in Ihrem "persönlichen Bereich" einen Platz sichern.
  b) Falls die Reservierungsphase noch nicht begonnen hat finden Sie auf unserer Startseite den Zeitpunkt wann die Reservierung startet. Ab diesem Zeitpunkt wird die Reservierung frei geschaltet. Da unser Flohmarkt sehr beliebt ist sind die Plätze schnell vergeben. Führen Sie die Reservierung daher bitte Zeitnah in Ihrem "persönlichen Bereich durch"! Innerhalb weniger Minuten können die Plätze bereits vergeben sein!
  In der Regel bekommen Sie wenige Tage vor der Reservierung eine Email zugeschickt, über welche Sie sich ebenfalls einen Platz sichern können.
  Sind alle Plätze vergeben, können Sie sich auf die Warteliste setzen lassen (Siehe Punkt 4) 

  **7. Warum sind schon Plätze vergeben, obwohl die Reservierungsphase noch nicht gestartet ist?**

  Wir behalten uns vor priorisierten Nutzergruppen bereits Plätze vor der offiziellen Reservierung zu geben. Dazu gehören unter Anderem unsere Helfer. 

  **8. Kann ich meine Daten löschen?**

  Ja, dies können Sie selbst durchführen. Gehen Sie dazu bitte auf Ihren "persönlichen Bereich" - "Stammdaten bearbeiten". Ihre Daten werden dann vollständig gelöscht und Sie bekommen keine Emails mehr.

  **9. Wie gebe ich Artikel ein**

  Sobald sie einen Platz bzw. eine Reservierungsnummer haben, können Sie über Ihren "persönlichen Bereich" die Artikel den ensprechenden Flohmarkt bearbeiten. Hierzu bitte den ensprechenden Link klicken.
  Auf Ihrer "Artikelseite" klicken Sie Artikel hinzufügen. Es öffnet sich das Artikel Eingabefenster. Hier wählen Sie bitte eine Kategorie, geben eine entsprechende Bezeichnung, eine Größe und einen Preis ein. Eventuell können Sie noch wählen ob der Artikel als Spende markiert werden soll, sofern dieser nicht verkauft wurde.
  Bitte geben Sie eine Beschreibung ein, nach welcher man den Artikel finden kann, falls das Etikett verloren geht.

  **10. Muss ich eine Liste meiner Artikel abgeben?**

  Nein. Sobald Sie den Artikel eingeben haben ist dieser in unserer Datenbank gespeichert. Damit entfällt die Abgabe einer Liste.

  **11. Wo finde ich den Abgabe- und Abholtermin?**
  Bitte schauen Sie auf unserer Startseite. Die Daten stehen am enstsprechenden Flohmarkt.

  **12. Was muss ich bei der Abgabe beachten?**

  a) Bitte schreiben Sie auf alle Ihre Abgabe- Kisten Ihre Reservierungsnummer (Diese ist bei jedem Flohmarkt verschieden. Sie finden die Nummer in Ihrem "persönlichen Bereich" bzw. es ist die erste Nummer oben links auf Ihren Etiketten). Damit können wir Ihre Kiste beim zurücksortieren wieder zuordnen.
  Bitte lesen Sie unsere Teilnahmebedingungen für weitere Informationen.

  **13. Kann ich mehr Artikel als die festgelegte Anzahl abgeben.**

  Dies geht nur über eine weitere Reservierungsnummer, ABER Bitte lesen Sie hierzu unsere Teilnahmebedingungen. In der Regel ist die Nachfrage sehr groß und wir akzeptieren nur eine Nummer pro Haushalt. Wir behalten uns vor weitere Nummern eines Haushaltes zu löschen.
