- content_for :title, t('.title')

%p Sollten Sie Probleme, Fragen oder Anregungen haben, schreiben Sie bitte eine eMail an:
%p
  %strong= brand_settings.contact
%p Sollten Sie sich bereits registriert haben, benutzen Sie bitte die eMail-Adresse als Absender, die Sie bei der Registrierung angegeben haben.
