.jumbotron
  .row
    .col-md-8
      %h1 Flohmarkt<sup><small>|</small></sup><strong>helfer</strong>
      %p.lead Das Komplettsystem für Ihren Flohmarkt.
      %a.btn.btn-primary.btn-lg(href="http://demo.flohmarkthelfer.de") Zum Demo-Bereich unseres Online-Systems
    .col-md-4
      = image_tag 'logo.png', class: 'img-responsive'
.row.marketing
  .col-lg-8
    %p Sie organisieren selbst einen Kommissionsflohmarkt und sind auf der Suche nach einem System, was Ihnen die Arbeit erleichtert?
    %p Wir bieten Ihnen und Ihren Kommissionsverkäufern die Möglichkeit, die Artikel einfach und schnell zu verkaufen und eine <strong>komplette Abrechnung</strong> der Verkäufe mit nur <strong>wenigen Klicks</strong> zu erreichen.
    %p Nehmen Sie mit uns Kontakt auf unter <strong>meinflohmarkt@flohmarkthelfer.de</strong>

    %h3 Wir bieten:

    %h4 Ein <strong>komplettes Online-System</strong> für
    %ul
      %li Platzreservierung
      %li Artikelverwaltung
      %li Etikettenerzeugung zum Drucken inklusive Barcodes
      %li
        Verwaltungssystem für Termine und Verkäufer inklusive
        %ul
          %li manueller Reservierungen priorisierter Kunden (bspw. Orga-Team/Eltern der Kita-Besucher)
          %li Benachrichtigungssystem (eMail an bestimmte Gruppen oder Einzelverkäufern)
      %li Statistiken zu Artikelerzeugung, Verkauf, Anmeldungen, Käufer (falls PLZs beim Verkauf erfasst)
      %li Bewertungssystem zur Erfragung von Verkäuferfeedback

    %h4 Ein vollumfängliches <strong>Kassen- und Abrechnungssystem</strong> für
    %ul
      %li Erfassen zu verkaufender Artikel mit automatischer Erkennung anhand von Barcodescans
      %li Wechselgeldberechnung
      %li Quittungserzeugung für Käufer
      %li PLZ Erfassung (falls gewünscht)
      %li automatische Abrechnungserstellung (gesamt und je eine Abrechnung pro Verkäufer)
      %li Artikelsuche nach Stichwörtern
      %li Unterstützung von Stornos bereits verkaufter Artikel
      %li Erzeugung von Etiketten und Barcodes, sollten die Etiketten eines Verkäufers nicht lesbar/scanbar sein.
      %li automatische Synchronisierung der Verkäufe über alle Kassensysteme

    %h4 Verleih von <strong>Barcode-Scannern</strong> und Netzwerk-Komponenten
    %h4 <strong>Individuelle Betreueung und Anpassungen</strong> des Systems an die Bedürfnisse der Veranstalter
    %h4 Schulung und <strong>Hilfe/Support</strong> auch vor Ort
    %p
      %a.btn.btn-primary.btn-lg(href="http://obfuscoder.github.io/flee_presentation/") Zur Präsentation unseres Systems
    %h3 Unsere Preise
    %table.table
      %tr
        %td Einmalige Einrichtungsgebühr
        %th 50,00 €
      %tr
        %td Erstmalige Benutzung für Ihren Flohmarkt
        %th KOSTENLOS
      %tr
        %td Jede weitere Benutzung
        %th 1% vom Umsatz
      %tr
        %td Verleihgebühr je Barcode-Scanner (optional*)
        %th 5,00 €
      %tr
        %td Verleihgebühr für Netzwerkzubehör (optional**)
        %th 5,00 €
    %small
      %strong *)
      Sie können natürlich Ihre eigenen Barcodescanner benutzen.
      %p
        %strong **)
        Die Netzwerkkomponenten sind nicht zwingend für die Abwicklung des Flohmarktverkaufs erforderlich,
        sind aber zur Erhöhung der Ausfallsicherheit und des Komforts bei der Abrechnung empfehlenswert.
        Es können WLAN-Router und/oder WiFi-Repeater geliehen werden.
        Ein kabelgebundenes Netzwerk ist nicht erforderlich. Sie können natürlich auch Ihre eigenen
        Netzwerkkomponenten benutzen.
    %p
      Sind Sie interessiert? Dann kontaktieren Sie uns unter
      %strong
        %a(href="mailto:meinflohmarkt@flohmarkthelfer.de")meinflohmarkt@flohmarkthelfer.de

  .col-lg-4
    %h3 Flohmärkte
    %ul
      - @brands.each do |brand|
        %li
          %a(href="#{brand.url}") #{brand.name}

.footer
  %p &copy; 2014-2017 Lehmann Softwarelösungen GbR
