- content_for :title, "Datenschutzhinweis"
:markdown
  ### Erhebung, Verarbeitung und Nutzung personenbezogener Daten

  Der Schutz Ihrer Daten liegt uns am Herzen. Um unsere Homepage zu besuchen, müssen Sie keine Daten angeben.
  Wir speichern lediglich anonymisierte Zugriffsdaten ohne Personenbezug, wie z.B. Namen Ihres
  Internetserviceproviders, die Seite, von der aus Sie uns besuchen oder den Namen der angeforderten Datei.
  Zur Datenerhebung können dabei Cookies eingesetzt werden, die allerdings ebenfalls die Daten ausschließlich
  in anonymer oder pseudonymer Form erheben und speichern und keinen Rückschluss auf Ihre Person erlauben.

  Personenbezogene Daten erheben wir nur, wenn Sie uns diese im Zuge der Registrierung freiwillig mitteilen.
  Wir verwenden die erhobenen Daten ausschließlich zur Abwicklung unserer Flohmärkte. Sie können Ihre Daten
  jederzeit löschen lassen. Nach Ablauf eventueller steuer- und handelsrechtlichen Vorschriften werden Ihre
  Daten dann gelöscht, sofern Sie nicht ausdrücklich einer darüber hinausgehenden Datenverwendung zugestimmt
  und diese Zustimmung nicht widerrufen haben.

  ### Datensicherheit

  Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
  Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.

  ### Auskunfts- & Widerrufsrecht

  Sie erhalten jederzeit ohne Angaben von Gründen kostenfrei Auskunft über Ihre bei uns gespeicherten Daten.
  Sie können jederzeit Ihre bei uns erhobenen Daten sperren, berichtigen oder löschen lassen. Sie können jederzeit
  die uns erteilten Einwilligung zur Datenerhebung und Verwendung ohne Angaben von Gründen widerrufen. Wenden Sie
  sich dazu an **privacy@flohmarkt-koenigsbach.de**.

  1. Zur Durchführung von Verträgen (Anbahnung, Abschluss, Abwicklung, Gewährleistungen und Rückabwicklung,
  Kommissionierung), für unsere Servicedienste, die technische Administration und der Sicherstellung der zwischen
  Ihnen und uns bestehenden Korrespondenz erheben wir für die 	Registrierung personenbezogene Daten, die im
  Einzelnen umfassen: Name, Adresse, Telefonnummer, eMail-Adresse.
  1. Ihre personenbezogenen Daten werden nicht an Dritte weitergeben, es sei denn, sofern wir dazu gesetzlich
  verpflichtet sind oder Sie uns zuvor eine entsprechende Einwilligung erteilt haben.
  1. Ohne Ihre Einwilligung werden Ihre personenbezogenen Daten nicht für Zwecke der Werbung, Markt- oder
  Meinungsforschung genutzt.

  <small>*Quelle: http://www.datenschutzerklaerung-online.de/*</small>
