- content_for :title, t('.title')

%p#notice= notice

= render 'shared/details', instance: @reservation,
  attributes: [:seller, :event, :number]

= link_to t('edit'), edit_reservation_path(@reservation)
\|
= link_to t('back'), reservations_path
