- content_for :title, t('.title')

%p#notice= notice

= render 'shared/details', instance: @item,
  attributes: [:seller, :category, :description, :size, :price]

= link_to t('edit'), edit_item_path(@item)
\|
= link_to t('back'), items_path
