/*
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-multiselect";
@import 'bootstrap-datetimepicker';
@import 'events';

.required abbr {
  color: red;
}

dl > dt:after {
  content: ":";
}

.translation_missing {
  border: 2px solid red;
}

.flash {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}
