- content_for :title, t('.title')

%p#notice= notice

= render 'shared/details', instance: @category, attributes: [:name]

= link_to t('edit'), edit_category_path(@category)
\|
= link_to t('back'), categories_path
